<!DOCTYPE html>
{% load staticfiles %}
{% load cloudinary %}
<html lang="pt">
<head>
<title>Barraca do Carlinhos</title>
<meta charset="utf-8">
<meta property="fb:app_id" content="554611871543141">
<meta property="fb:admins" content="100002421374214">
<meta property="fb:admins" content="100008664494642">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ objeto.titulo }}">
<meta property="og:description" content="{{ objeto.apresentacao }}" >
<meta property="og:image" content="{% cloudinary_url objeto.imagem %}" > 
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta name="author" content="Visus">
<meta name="description" content="Barraca do Carlinhos - A melhor qualidade do litoral">
<meta name="keywords" content="barraca do carlinhos, praia, praia da enseada, bertioga, porção, maitinga, litoral norte">
<meta name="robots" content="index,follow">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Indie+Flower" rel="stylesheet">
<link rel="stylesheet" href="/static/css/visual.css">
<div class="logo">
<img src="{% static 'image/essa.png' %}" alt="logo"/>
</div>
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-113042087-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.11&appId=554611871543141';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class='btns'>
	<table>
			<tr>
				<td><a href="{% url 'porcoes:porcao' %}"><button class="btn1"><h2>Porções</h2></button></a></td>
				<td><a href="{% url 'bebidas:bebidas' %}"><button class="btn2"><h2>Bebidas</h2></button></a></td>
				<td><a href="{% url 'pastel:pastel' %}"><button class="btn3"><h2>Pasteis/Hot-Dog</button></h2></td>
				<td><a href="{% url 'coqueteis:coqueteis' %}"><button class="btn4"><h2>Coqueteis</h2></button></a></td>
				<td><a href="{% url 'cupom:cupom' %}"><button class="btn5"><h2>Cupons!</h2></button></a></td>
			</tr>
	</table>
</div>
<div class='itens'>

</div>
</body>
</html>
{% block content %}
{% endblock %}