{% extends 'core/base.html' %}
{% load cloudinary %}
{% load staticfiles %}
{% block content %}
	<b>{% now "jS F Y H:i" %}</b>
	{% for objeto in objetos %}
            <div class='cupom'>
                <center><h2><p>Publicado em:{{ objeto.published_date }}</p></h2><center>
                <center><h1><a href="{{ objeto.get_absolute_url }}">{{ objeto.titulo }}</a></h1></center>
                <center><img>{% cloudinary objeto.imagem %}</center>
                <center><p><h2>{{ objeto.apresentacao }}</h2></p></center>
                <center><p><h2>Somente com a apresentação deste cupom por: <b>R${{ objeto.preco }}</b></h2></p></center>
                <center><p><h2>Valido até:<b>{{ objeto.validade }}</b></h2></p></center>
            </div>
        {% endfor %}
{% endblock %}